/* FORCE LANDSCAPE MODE FOR MOBILE */


/* HOVER STYLES FOR BUTTONS */
.display-none-hover:hover #_x3C_btn1-08_x3E_ {
        display: none
}
.display-none-hover:hover #_x3C_btn1-07_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-06_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-05_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-04_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-03_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-02_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn1-01_x3E_ {
    display: none
}

.display-none-hover:hover #_x3C_btn2-08_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn2-07_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-06_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-05_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-04_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-03_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-02_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn2-01_x3E_ {
display: none
}

.display-none-hover:hover #_x3C_btn3-08_x3E_ {
    display: none
}
.display-none-hover:hover #_x3C_btn3-07_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-06_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-05_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-04_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-03_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-02_x3E_ {
display: none
}
.display-none-hover:hover #_x3C_btn3-01_x3E_ {
display: none
}